__pycache__/ 
*.py[cod] 
*$py.class 
 
venv/ 
env/ 
ENV/ 
*.egg-info/ 
 
*.log 
logs/ 
debug.log 
 
.ipynb_checkpoints/ 
.pytest_cache/ 
.cache/ 
 
*.sqlite3 
*.db 
*.db-journal 
*.csv 
*.tsv 
*.xls 
*.xlsx 
*.parquet 
*.feather 
 
*.env 
.env.* 
secrets.json 
config.json 
apikeys.json 
 
.DS_Store 
Thumbs.db 
desktop.ini 
 
.vscode/ 
.idea/ 
*.sublime-workspace 
*.sublime-project 
